    body {
        margin: 0;
        padding: 0;
    }
    #map {
        position: absolute;
        bottom: 0;
        width: 75%;
        height: 85%;
        z-index: 0;
    }  

    #menuSearch{
        font-size:xx-large;
        font-weight: bolder;
        text-align: center;
        position: absolute;
        right: 0;
        opacity: 90%;
        bottom: 0;
        height: 85%;
        width: 25%;
        color: red;
        background-color: rgba(126, 208, 175, 0.986);
        z-index: 1; 
    }



      #searchButton{
        font-size:medium;
        color: blue;
        width: 40%;
  
    } 
    #Bandeau{ 
        font-size: xx-large;
        font-weight: bolder;
        text-align: center;
        position: absolute;
        height: 15%;
        width: 100%;
        color: aqua;
        background-color: black;
z-index: 1;
}